# Node modules
node_modules/

# MacOS files
.DS_Store
.DS_Store?
*.DS_Store

# Vim swap files
*.swp
*.swx
*.swo

# Environment variables
.env

# Readme file (assuming you want to ignore it)
readme.md

# VS Code settings
.vscode/

# Logs
/logs/

# Ignore anything in logs directory
logs/

# Other potential temporary files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*